<div class="card-header bg-dark font-white">

	<div class="input-group col-md-9 col-xl-8">

		<input type="text" class="form-control" id="searchName"
			   placeholder="输入供应商名称进行搜索">
		<span class="input-group-btn">
			<button class="btn btn-secondary" type="button" id="searchNameBtn">
				<i class="fa fa-search" aria-hidden="true"></i>
			</button>
		</span>
		<a class="btn btn-primary" data-toggle="modal"
				   data-target="#flipFlop" role="button" id="addProject">
			<i class="fa fa-plus" aria-hidden="true">添加</i>
		</a>
		<a class="btn btn-primary" data-toggle="modal"
		   data-target="#flipFlopForRandom" role="button" id="random">
			<i class="fa fa-random" aria-hidden="true">随机抽取</i>
		</a>

	</div>
</div>

<div id="mainContainer" class="container">
	<div id="mainContainerRepleace" class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th data-field="id">编号</th>
					<th data-field="materialName">项目名称</th>
					<th data-field="materialDesc">供应商名称</th>
					<th data-field="materialComment">采购员姓名</th>
					<th data-field="materialComment">备注</th>
					<th data-field="operation">操作</th>

				</tr>
			</thead>
			<tbody>

				<tr th:each="project,status: ${projectModel.projectsList}">
					<td th:text="${status.count}">1</td>
					<td th:text="${project.projectName}">HX</td>
					<td th:text="${project.purchaseName}">HX</td>
					<td th:text="${project.buyer}">HX</td>
					<td th:text="${project.comment}">hh</td>
					<td>
						<div>
							<a class="blog-edit-user" data-toggle="modal"
								data-target="#flipFlop" role="button"
								data-th-attr="projectId=${project.id}"> <i
								class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</a> <a class="blog-delete-user" role="button"
								data-th-attr="projectId=${project.id}"> <i class="fa fa-times"
								aria-hidden="true"></i>
							</a>
						</div>
					</td>
				</tr>

			</tbody>

		</table>
		<div th:replace="~{fragments/page :: page}">...</div>

	</div>
</div>

<!-- The modal -->
<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog"
	aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modalLabel">新增/编辑</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>
			<div class="modal-body" id="projectFormContainer"></div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" id="submitEdit">提交</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- The modal -->
<div class="modal fade" id="flipFlopForRandom" tabindex="-1" role="dialog"
	 aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modalLabelForCalculate">随机抽取供应商名称</h4>
				<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>
			<div class="modal-body" id="projectFormContainerForRandom"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="bootstrap-table.css">
<script src="bootstrap-table.js"></script>
<!-- JavaScript -->
<script src="../../js/projects/main.js" th:src="@{/js/projects/main.js}"></script>

