<div id="mainContainer" class="container">
    <div id="mainContainerRepleace" class="row">
        <div class="container">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th data-field="id">顺序</th>
                    <th data-field="projectname">供应商名称</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project,status: ${projectModel.frontlist}">
                    <td th:text="${status.count}">顺序</td>
                    <td th:text="${project.projectName}">供应商名称</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
